
div.markup_tc{
  margin-bottom:28px;
}

div.markup_tc{
  display:flow-root;
  background-color:aliceblue;
  padding:20px 8px 0px 8px;  
}

div.markup_test_case_table_fit_content {
  width:-moz-fit-content;
  width:fit-content;
}

div.markup_test_case_table_heading {
  color:#DDFFFF;
  background-color:#596ACF;
  padding:0px 5px;
  font-size:16px;
}

table.markup_test_case_table{
  background-color:White;
}

table.markup_test_case_table thead th,
table.markup_test_case_table tbody td,
table.markup_test_case_table tbody th {
  padding:0px 5px !important; 
}
