
svg.markup_flow{
  background-color:#fcfcfc;
  border:1px solid #ccc;
}

rect.flowchart_block_action{
  stroke-width:2px;
  fill:transparent;
  stroke:dimgray;  
  fill:MistyRose;
}

rect.flowchart_block_start_end{
  stroke-width:2px;
  fill:transparent;
  stroke:dimgray;
  fill:white;
}

polygon.flowchart_block_decision{
  stroke-width:2px;
  fill:transparent;
  stroke:dimgray;
  fill:Ivory;
}

circle.flowchart_block_connector{
  stroke-width:2px;
  fill:transparent;
  stroke:dimgray;
  fill:white;
}

a.flowchart_block_action_text,
text.flowchart_block_action_text{
  font-size:10px;
  font-weight:bold;
  text-anchor:middle;
  fill:black;
}

a.flowchart_block_action_text:hover{
  font-size:10px;
  font-weight:bold;
  text-anchor:middle;
  text-decoration:none;
  fill:#337ab7;
}

line.flowchart_line_unknown {
  stroke: rgb(102, 102, 102);
}
