
div.markup_table_fit_content {
  width:-moz-fit-content;
  width:fit-content;
}

div.markup_table_heading {
  color:DarkSlateGray;
  background-color:LightGreen;
  padding:0px 5px;
  font-size:16px;
}

div.markup_table_local,
div.markup_table_global{
  float:left;
  margin-right:8px;
}

div.markup_table_static {
  float:left;
}

div.markup_table_global_table_heading {
  color:#DDFFFF !important;
  background-color:#CF596A !important;
  padding:0px 5px;
  font-size:16px;
}

div.markup_table_local_table_heading {
  color:#DDFFFF !important;
  background-color:#59CF6A !important;
  padding:0px 5px;
  font-size:16px;
}

div.markup_table_static_table_heading {
  color:#DDFFFF !important;
  background-color:#CF6A59 !important;
  padding:0px 5px;
  font-size:16px;
}

a.markup_table_link{
  color:Gray;
}

a.markup_table_link:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

tr.markup_table_comment_out{
  background-color: lightgoldenrodyellow !important;
}
