
rect.network_success{
  fill:#e9ffe9;
  stroke:black;
  stroke-width:2;
}

rect.network_reduced{
  fill:LightYellow;
  stroke:black;
  stroke-width:2;
}

rect.network_success_local{
  fill:LightCyan;
  stroke:black;
  stroke-width:2;
}

rect.network_reduced_local{
  fill:Lavender;
  stroke:black;
  stroke-width:2;
}

rect.network_failure{
  fill:#ffe9e9;
  stroke:black;
  stroke-width:2;
}
